:root {
  /* VARIABLES */

  /* Colors */
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #ffffff;
  --accent-color: #ffffff;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.width50perc {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headinf {
  font-size: 7rem;
}